<h1>File uploader for whatsapp information processing</h1>

<h2>Upload english text file</h2>
<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <div class="upload-container">
    <label for="image">Select a file to upload: </label>
    <input id="file-picker" type="file" accept=".txt" name="image" multiple>
  </div>
  <div>
    <input type="submit" value="Upload File">
  </div>
</form>

<p id="message">{{message}}</p>


<hr>
<p>This app has no official privacy policy. File uploaded will be accessed by owner of this site</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select file(s) to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>
